NODE_ENV=development
PORT=4000
APP_BASE_URL=http://localhost:4000
MONGO_URI=mongodb+srv://cluster.example.mongodb.net/?authSource=%24external&authMechanism=MONGODB-X509&retryWrites=true&w=majority
MONGO_DB_NAME=LMS
MONGO_COLLECTION_PREFIX=staging_
MONGO_TLS_CERT_KEY_FILE=./secrets/Mongo/X509-cert.pem
KEYCLOAK_ISSUER=https://keycloak.example.com/realms/cetu
KEYCLOAK_AUDIENCE=cetu-lms-api
KEYCLOAK_JWKS_URI=https://keycloak.example.com/realms/cetu/protocol/openid-connect/certs
LTI_ISSUER=http://localhost:4000
LTI_PLATFORM_KID=dev-platform-key
LTI_PLATFORM_PRIVATE_KEY_PEM="-----BEGIN PRIVATE KEY-----\nreplace-with-rsa-private-key\n-----END PRIVATE KEY-----"
LTI_TOOLS_JSON=[]
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174,http://localhost:5181,http://127.0.0.1:5181,http://localhost:5199,http://127.0.0.1:5199
