NODE_ENV=production
PORT=4000
APP_BASE_URL=https://lms-api.cetu.online
MONGO_URI=mongodb+srv://user:password@cluster.example.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=LMS
MONGO_COLLECTION_PREFIX=
KEYCLOAK_ISSUER=https://keycloak.cetu.online/realms/cetu
KEYCLOAK_AUDIENCE=cetu-lms-api
KEYCLOAK_JWKS_URI=https://keycloak.cetu.online/realms/cetu/protocol/openid-connect/certs
LTI_ISSUER=https://lms-api.cetu.online
LTI_PLATFORM_KID=production-key-id
LTI_PLATFORM_PRIVATE_KEY_PEM=replace-with-production-private-key
LTI_TOOLS_JSON=[{"clientId":"pact-tool","name":"PACT","deploymentIds":["pact-course-deployment"],"redirectUris":["https://pact2-api.cetu.online/api/v1/lti/launch"],"deepLinkRedirectUris":["https://pact2-api.cetu.online/api/v1/lti/deep-link"],"targetLinkUri":"https://pact2-api.cetu.online/launch","publicJwks":{"keys":[{"kty":"RSA","n":"75fmvoJJZB5SG0exYvnMVsEGvHV9QqfjpuUcINWoJx1g5dgImwGMzoN85il5OPuz8dG9Yoi8NMj_ddkyoMDqGUNpJCPPshS7wlgtilZcNdtRS1acmriQPiJjWRAQiyNblMogsaywuVPZsN66GCGv3PR9XDpjm8_1zidMWa0mYN2fTu3Aq0aiWk7o4qZPVilKm0RNs30_Fw_4hYe3AFeVG78_aPoxCA-EuRRcqKCqwo8Uue6Iag2iKCj1jWSBDDhDOrJKzOQiPNxzMCR_yGD6baGYTzu803amOcUlyPP_NnSqyBjxdo1mS9uFgpecv4EC5cPrWnzMk0ffytQCfT07kQ","e":"AQAB","kid":"pact-tool-key","alg":"RS256","use":"sig"}]},"scopes":[]}]
CORS_ORIGINS=https://lms.cetu.online
